<!-- component to show product´s details -->
<app-navbar></app-navbar>
<div class="product_container">
  <!-- back button -->
  <button class="back_button" routerLink="/products">Regresar</button>
  <div class="image_container">
    <img [src]="product?.imageUrl" class="" alt="product image" />
  </div>
  <div class="product_info">
    <h1>{{ product?.name }}</h1>
    <p>Descripcion: {{ product?.description }}</p>
    <p>Proteinas: {{ product?.protein }}</p>
    <p>Grasas: {{ product?.fat }}</p>
    <p>Carbohidratos: {{ product?.carbohydrates }}</p>
    <p>Ingredientes: {{ product.ingredients }}</p>
    <!-- badge -->
    <div class="badge_container">
      <span
        class="badge"
        [ngClass]="{
          'badge--green': product?.comesFromOrganicFarming,
          'badge--red': !product?.comesFromOrganicFarming
        }"
      >
        {{
          product?.comesFromOrganicFarming
            ? "Viene de granjas organicas"
            : "No viene de granjas organicas"
        }}
      </span>
    </div>
  </div>
</div>
