<app-navbar></app-navbar>
<main>
  <section class="logo">
    <img
      src="https://s3-alpha-sig.figma.com/img/0520/a608/e13d4e98513c6836a48d83dfc1d5470a?Expires=1687737600&Signature=MDpkzMizh8pNC-ixggbvP-t5Wouzyg6-WPn~X9K2XsdsSJ~3DYz6PMH3J-lMG9bN-1ufpao-n~a2ab9MBBp86248CUXWiHhf8sHXCbm6eSKdDCxcqla2O2xzqzz80F93JQ9uGGU~oOz~QDM6tz5jWPPPXOzk5trYfCuxe-iXnWe-0BHaAWrO5JH84wwqjDDrS9~BzLtNSzWTI1bvYY7d8mcS5caJnXvLGSz5iljgiJ17zSIbVrIWKdEt-WA9kD4huJNQY9x87me6220MpJMapkA6TNWFLJS58roY-PuuERRwItSbWh4La3l1YClvaxEWyfxA6FUvT6LE~6uHL~rvhA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      alt=""
    />
    <h1>DANONE MEXICO</h1>
    <p>NUEVA GAMA DE PRODUCTOS MÁS ECOLÓGICOS Y SALUDABLES</p>
  </section>

  <section class="info first_section">
    <h3 class="info_title">ORGANICO</h3>
    <img
      src="https://images.pexels.com/photos/566888/pexels-photo-566888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </section>
  <section class="info second_section">
    <h3 class="info_title">ECOLOGICO</h3>
    <img
      src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </section>
  <section class="info third_section">
    <h3 class="info_title">SALUDABLE</h3>
    <img
      src="https://images.pexels.com/photos/320007/pexels-photo-320007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </section>
  <section class="info fourth_section">
    <h3 class="info_title">NUTRITIVO</h3>
    <img
      src="https://images.pexels.com/photos/4109383/pexels-photo-4109383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </section>
</main>
<app-footer></app-footer>
